## SQL ALıştırmaları

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///ik.db

**1.Orders tablosunda kaç müşteri olduğunu bulunuz.**

In [4]:
%%sql
SELECT COUNT(CustomerID) FROM Orders;

 * sqlite:///ik.db
Done.

[(196,)]

**2.Orders tablosunda kaç tane eşsiz müşteri olduğunu bulunuz.**

In [6]:
%%sql
SELECT COUNT(DISTINCT CustomerID) FROM Orders;

 * sqlite:///ik.db
Done.

[(74,)]

**3.Customer tablosunda hangi ülkeden kaçar tane müşteri olduğunu bulunuz.**

In [8]:
%%sql
SELECT COUNT(CustomerID) AS Müsteri_Sayisi,Country FROM Customers GROUP BY Country;

 * sqlite:///ik.db
Done.

[(3, 'Argentina'),
 (2, 'Austria'),
 (2, 'Belgium'),
 (9, 'Brazil'),
 (3, 'Canada'),
 (2, 'Denmark'),
 (2, 'Finland'),
 (11, 'France'),
 (11, 'Germany'),
 (1, 'Ireland'),
 (3, 'Italy'),
 (5, 'Mexico'),
 (1, 'Norway'),
 (1, 'Poland'),
 (2, 'Portugal'),
 (5, 'Spain'),
 (2, 'Sweden'),
 (2, 'Switzerland'),
 (7, 'UK'),
 (13, 'USA'),
 (4, 'Venezuela')]

**4.Müşterilerin ülkesi Brezilya ya da USA olanları bulunuz.**

In [11]:
%%sql
SELECT * FROM Customers WHERE Country = 'Brazil' OR Country = 'USA';

 * sqlite:///ik.db
Done.

[(15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (21, 'Familia Arquibaldo', 'Aria Cruz', 'Rua Orós, 92', 'São Paulo', '05442-030', 'Brazil'),
 (31, 'Gourmet Lanchonetes', 'André Fonseca', 'Av. Brasil, 442', 'Campinas', '04876-786', 'Brazil'),
 (32, 'Great Lakes Food Market', 'Howard Snyder', '2732 Baker Blvd.', 'Eugene', '97403', 'USA'),
 (34, 'Hanari Carnes', 'Mario Pontes', 'Rua do Paço, 67', 'Rio de Janeiro', '05454-876', 'Brazil'),
 (36, 'Hungry Coyote Import Store', 'Yoshi Latimer', 'City Center Plaza 516 Main St.', 'Elgin', '97827', 'USA'),
 (43, 'Lazy K Kountry Store', 'John Steel', '12 Orchestra Terrace', 'Walla Walla', '99362', 'USA'),
 (45, "Let's Stop N Shop", 'Jaime Yorres', '87 Polk St. Suite 5', 'San Francisco', '94117', 'USA'),
 (48, 'Lonesome Pine Restaurant', 'Fran Wilson', '89 Chiaroscuro Rd.', 'Portland', '97219', 'USA'),
 (55, 'Old World Delicatessen', 'Rene Phillips', '2743 Bering St.', 'Anchorage', '99508', 'USA'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (65, 'Rattlesnake Canyon Grocery', 'Paula Wilson', '2817 Milton Dr.', 'Albuquerque', '87110', 'USA'),
 (67, 'Ricardo Adocicados', 'Janete Limeira', 'Av. Copacabana, 267', 'Rio de Janeiro', '02389-890', 'Brazil'),
 (71, 'Save-a-lot Markets', 'Jose Pavarotti', '187 Suffolk Ln.', 'Boise', '83720', 'USA'),
 (75, 'Split Rail Beer & Ale', 'Art Braunschweiger', 'P.O. Box 555', 'Lander', '82520', 'USA'),
 (77, 'The Big Cheese', 'Liz Nixon', '89 Jefferson Way Suite 2', 'Portland', '97201', 'USA'),
 (78, 'The Cracker Box', 'Liu Wong', '55 Grizzly Peak Rd.', 'Butte', '59801', 'USA'),
 (81, 'Tradição Hipermercados', 'Anabela Domingues', 'Av. Inês de Castro, 414', 'São Paulo', '05634-030', 'Brazil'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA'),
 (88, 'Wellington Importadora', 'Paula Parente', 'Rua do Mercado, 12', 'Resende', '08737-363', 'Brazil'),
 (89, 'White Clover Markets', 'Karl Jablonski', '305 - 14th Ave. S. Suite 3B', 'Seattle', '98128', 'USA')]

**5.Önce ülkeye sonra şehre göre GROUP BY işlemi yapıp kırılımda müşteri sayısını bulunuz.**

In [12]:
%%sql
SELECT COUNT(CustomerID),Country,City FROM Customers GROUP BY Country,City;

 * sqlite:///ik.db
Done.

[(3, 'Argentina', 'Buenos Aires'),
 (1, 'Austria', 'Graz'),
 (1, 'Austria', 'Salzburg'),
 (1, 'Belgium', 'Bruxelles'),
 (1, 'Belgium', 'Charleroi'),
 (1, 'Brazil', 'Campinas'),
 (1, 'Brazil', 'Resende'),
 (3, 'Brazil', 'Rio de Janeiro'),
 (4, 'Brazil', 'São Paulo'),
 (1, 'Canada', 'Montréal'),
 (1, 'Canada', 'Tsawassen'),
 (1, 'Canada', 'Vancouver'),
 (1, 'Denmark', 'København'),
 (1, 'Denmark', 'Århus'),
 (1, 'Finland', 'Helsinki'),
 (1, 'Finland', 'Oulu'),
 (1, 'France', 'Lille'),
 (1, 'France', 'Lyon'),
 (1, 'France', 'Marseille'),
 (2, 'France', 'Nantes'),
 (2, 'France', 'Paris'),
 (1, 'France', 'Reims'),
 (1, 'France', 'Strasbourg'),
 (1, 'France', 'Toulouse'),
 (1, 'France', 'Versailles'),
 (1, 'Germany', 'Aachen'),
 (1, 'Germany', 'Berlin'),
 (1, 'Germany', 'Brandenburg'),
 (1, 'Germany', 'Cunewalde'),
 (1, 'Germany', 'Frankfurt a.M.'),
 (1, 'Germany', 'Köln'),
 (1, 'Germany', 'Leipzig'),
 (1, 'Germany', 'Mannheim'),
 (1, 'Germany', 'München'),
 (1, 'Germany', 'Münster'),
 (1, 'Germany', 'Stuttgart'),
 (1, 'Ireland', 'Cork'),
 (1, 'Italy', 'Bergamo'),
 (1, 'Italy', 'Reggio Emilia'),
 (1, 'Italy', 'Torino'),
 (5, 'Mexico', 'México D.F.'),
 (1, 'Norway', 'Stavern'),
 (1, 'Poland', 'Walla'),
 (2, 'Portugal', 'Lisboa'),
 (1, 'Spain', 'Barcelona'),
 (3, 'Spain', 'Madrid'),
 (1, 'Spain', 'Sevilla'),
 (1, 'Sweden', 'Bräcke'),
 (1, 'Sweden', 'Luleå'),
 (1, 'Switzerland', 'Bern'),
 (1, 'Switzerland', 'Genève'),
 (1, 'UK', 'Cowes'),
 (6, 'UK', 'London'),
 (1, 'USA', 'Albuquerque'),
 (1, 'USA', 'Anchorage'),
 (1, 'USA', 'Boise'),
 (1, 'USA', 'Butte'),
 (1, 'USA', 'Elgin'),
 (1, 'USA', 'Eugene'),
 (1, 'USA', 'Kirkland'),
 (1, 'USA', 'Lander'),
 (2, 'USA', 'Portland'),
 (1, 'USA', 'San Francisco'),
 (1, 'USA', 'Seattle'),
 (1, 'USA', 'Walla Walla'),
 (1, 'Venezuela', 'Barquisimeto'),
 (1, 'Venezuela', 'Caracas'),
 (1, 'Venezuela', 'I. de Margarita'),
 (1, 'Venezuela', 'San Cristóbal')]

**6.Müşteri adreslerinin herhangi bir yerinde "da" ifadesi geçen tüm adresleri bulunuz.**

In [14]:
%%sql
SELECT * FROM Customers WHERE Address LIKE '%da%';

 * sqlite:///ik.db
Done.

[(2, 'Ana Trujillo Emparedados y helados', 'Ana Trujillo', 'Avda. de la Constitución 2222', 'México D.F.', '5021', 'Mexico'),
 (13, 'Centro comercial Moctezuma', 'Francisco Chang', 'Sierras de Granada 9993', 'México D.F.', '5022', 'Mexico'),
 (15, 'Comércio Mineiro', 'Pedro Afonso', 'Av. dos Lusíadas, 23', 'São Paulo', '05432-043', 'Brazil'),
 (28, 'Furia Bacalhau e Frutos do Mar', 'Lino Rodriguez', 'Jardim das rosas n. 32', 'Lisboa', '1675', 'Portugal'),
 (54, 'Océano Atlántico Ltda.', 'Yvonne Moncada', 'Ing. Gustavo Moncada 8585 Piso 20-A', 'Buenos Aires', '1010', 'Argentina'),
 (60, 'Princesa Isabel Vinhoss', 'Isabel de Castro', 'Estrada da saúde n. 58', 'Lisboa', '1756', 'Portugal'),
 (61, 'Que Delícia', 'Bernardo Batista', 'Rua da Panificadora, 12', 'Rio de Janeiro', '02389-673', 'Brazil'),
 (62, 'Queen Cozinha', 'Lúcia Carvalho', 'Alameda dos Canàrios, 891', 'São Paulo', '05487-020', 'Brazil'),
 (66, 'Reggiani Caseifici', 'Maurizio Moroni', 'Strada Provinciale 124', 'Reggio Emilia', '42100', 'Italy'),
 (80, 'Tortuga Restaurante', 'Miguel Angel Paolino', 'Avda. Azteca 123', 'México D.F.', '5033', 'Mexico'),
 (82, "Trail's Head Gourmet Provisioners", 'Helvetius Nagy', '722 DaVinci Blvd.', 'Kirkland', '98034', 'USA')]

**7.Germany-Berlin'de yaşayan müşteri/müşterilerin isimleri nelerdir**

In [29]:
%%sql
SELECT CustomerName FROM Customers WHERE Country='Germany' AND City = 'Berlin';

 * sqlite:///ik.db
Done.

[('Alfreds Futterkiste',)]

**8.Canada'da yaşayıp isimlerinde "in" ifadesi geçen müşteri/müşterileri bulunuz.**

In [30]:
%%sql
SELECT CustomerName FROM Customers WHERE Country = 'Canada' AND CustomerName LIKE '%in%';

 * sqlite:///ik.db
Done.

[('Laughing Bacchus Wine Cellars',)]

**9.Fiyatı 40 ile 90 arasında olan ürünlerin isimleri ve fiyatları nelerdir?**

In [26]:
%%sql
SELECT ProductName,Price FROM Products WHERE Price BETWEEN 40 AND 90;

 * sqlite:///ik.db
Done.

[('Northwoods Cranberry Sauce', 40),
 ('Genen Shouyu', 43),
 ('Carnarvon Tigers', 62),
 ('Teatime Chocolate Biscuits', 43),
 ("Sir Rodney's Marmalade", 81),
 ('Guaraná Fantástica', 43),
 ('Schoggi Schokolade', 43),
 ('Rössle Sauerkraut', 45),
 ('Geitost', 43),
 ('Boston Crab Meat', 43),
 ('Ipoh Coffee', 46),
 ('Røgede sild', 43),
 ('Zaanse koeken', 43),
 ('Manjimup Dried Apples', 53),
 ('Ravioli Angelo', 43),
 ('Raclette Courdavault', 55),
 ("Sirop d'érable", 43),
 ('Tarte au sucre', 49),
 ('Vegie-spread', 43),
 ('Louisiana Fiery Hot Pepper Sauce', 43),
 ('Scottish Longbreads', 45)]

**10.Fiyatı 30TL'den büyük ürünlerin isimlerini,fiyatlarını ve fiyatlarının karesini bulunuz ve tüm değişkenlerin isimlendirmesini şu şekilde yapınız:**  urun_ismi,urun_fiyatı,urun_fiyatının_karesi

In [28]:
%%sql
SELECT ProductName as urun_ismi,Price as urun_fiyati,Price * Price as urun_fiyatının_karesi FROM Products WHERE PRICE > 30

 * sqlite:///ik.db
Done.

[('Northwoods Cranberry Sauce', 40, 1600),
 ('Mishi Kobe Niku', 97, 9409),
 ('Ikura', 31, 961),
 ('Queso Manchego La Pastora', 38, 1444),
 ('Genen Shouyu', 43, 1849),
 ('Alice Mutton', 39, 1521),
 ('Carnarvon Tigers', 62, 3844),
 ('Teatime Chocolate Biscuits', 43, 1849),
 ("Sir Rodney's Marmalade", 81, 6561),
 ('Guaraná Fantástica', 43, 1849),
 ('Gumbär Gummibärchen', 31, 961),
 ('Schoggi Schokolade', 43, 1849),
 ('Rössle Sauerkraut', 45, 2025),
 ('Thüringer Rostbratwurst', 123, 15129),
 ('Gorgonzola Telino', 435, 189225),
 ('Mascarpone Fabioli', 32, 1024),
 ('Geitost', 43, 1849),
 ('Côte de Blaye', 263, 69169),
 ('Boston Crab Meat', 43, 1849),
 ('Ipoh Coffee', 46, 2116),
 ('Røgede sild', 43, 1849),
 ('Zaanse koeken', 43, 1849),
 ('Manjimup Dried Apples', 53, 2809),
 ('Perth Pasties', 32, 1024),
 ('Gnocchi di nonna Alice', 38, 1444),
 ('Ravioli Angelo', 43, 1849),
 ('Raclette Courdavault', 55, 3025),
 ('Camembert Pierrot', 34, 1156),
 ("Sirop d'érable", 43, 1849),
 ('Tarte au sucre', 49, 2401),
 ('Vegie-spread', 43, 1849),
 ('Wimmers gute Semmelknödel', 33, 1089),
 ('Louisiana Fiery Hot Pepper Sauce', 43, 1849),
 ('Scottish Longbreads', 45, 2025),
 ('Gudbrandsdalsost', 36, 1296),
 ('Mozzarella di Giovanni', 34, 1156)]

**11. Products tablosundaki CategoryID’lerin yani kategorilerin isimleri nelerdir?**

In [31]:
%%sql
SELECT * FROM Products LEFT JOIN Categories on Products.CategoryID = Categories.CategoryID;

 * sqlite:///ik.db
Done.

[(1, 'Chais', 1, 1, '10 boxes x 20 bags', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (2, 'Chang', 1, 1, '24 - 12 oz bottles', 19, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (3, 'Aniseed Syrup', 1, 2, '12 - 550 ml bottles', 10, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (4, "Chef Anton's Cajun Seasoning", 2, 2, '48 - 6 oz jars', 22, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (5, "Chef Anton's Gumbo Mix", 2, 2, '36 boxes', 21, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (6, "Grandma's Boysenberry Spread", 3, 2, '12 - 8 oz jars', 25, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (7, "Uncle Bob's Organic Dried Pears", 3, 7, '12 - 1 lb pkgs.', 30, 7, 'Produce', 'Dried fruit and bean curd'),
 (8, 'Northwoods Cranberry Sauce', 3, 2, '12 - 12 oz jars', 40, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (9, 'Mishi Kobe Niku', 4, 6, '18 - 500 g pkgs.', 97, 6, 'Meat/Poultry', 'Prepared meats'),
 (10, 'Ikura', 4, 8, '12 - 200 ml jars', 31, 8, 'Seafood', 'Seaweed and fish'),
 (11, 'Queso Cabrales', 5, 4, '1 kg pkg.', 21, 4, 'Dairy Products', 'Cheeses'),
 (12, 'Queso Manchego La Pastora', 5, 4, '10 - 500 g pkgs.', 38, 4, 'Dairy Products', 'Cheeses'),
 (13, 'Konbu', 6, 8, '2 kg box', 6, 8, 'Seafood', 'Seaweed and fish'),
 (14, 'Tofu', 6, 7, '40 - 100 g pkgs.', 23, 7, 'Produce', 'Dried fruit and bean curd'),
 (15, 'Genen Shouyu', 6, 2, '24 - 250 ml bottles', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (16, 'Pavlova', 7, 3, '32 - 500 g boxes', 17, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (17, 'Alice Mutton', 7, 6, '20 - 1 kg tins', 39, 6, 'Meat/Poultry', 'Prepared meats'),
 (18, 'Carnarvon Tigers', 7, 8, '16 kg pkg.', 62, 8, 'Seafood', 'Seaweed and fish'),
 (19, 'Teatime Chocolate Biscuits', 8, 3, '10 boxes x 12 pieces', 43, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (20, "Sir Rodney's Marmalade", 8, 3, '30 gift boxes', 81, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (21, "Sir Rodney's Scones", 8, 3, '24 pkgs. x 4 pieces', 10, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (22, "Gustaf's Knäckebröd", 9, 5, '24 - 500 g pkgs.', 21, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (23, 'Tunnbröd', 9, 5, '12 - 250 g pkgs.', 9, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (24, 'Guaraná Fantástica', 10, 1, '12 - 355 ml cans', 43, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (25, 'NuNuCa Nuß-Nougat-Creme', 11, 3, '20 - 450 g glasses', 14, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (26, 'Gumbär Gummibärchen', 11, 3, '100 - 250 g bags', 31, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (27, 'Schoggi Schokolade', 11, 3, '100 - 100 g pieces', 43, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (28, 'Rössle Sauerkraut', 12, 7, '25 - 825 g cans', 45, 7, 'Produce', 'Dried fruit and bean curd'),
 (29, 'Thüringer Rostbratwurst', 12, 6, '50 bags x 30 sausgs.', 123, 6, 'Meat/Poultry', 'Prepared meats'),
 (30, 'Nord-Ost Matjeshering', 13, 8, '10 - 200 g glasses', 25, 8, 'Seafood', 'Seaweed and fish'),
 (31, 'Gorgonzola Telino', 14, 4, '12 - 100 g pkgs', 435, 4, 'Dairy Products', 'Cheeses'),
 (32, 'Mascarpone Fabioli', 14, 4, '24 - 200 g pkgs.', 32, 4, 'Dairy Products', 'Cheeses'),
 (33, 'Geitost', 15, 4, '500 g', 43, 4, 'Dairy Products', 'Cheeses'),
 (34, 'Sasquatch Ale', 16, 1, '24 - 12 oz bottles', 14, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (35, 'Steeleye Stout', 16, 1, '24 - 12 oz bottles', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (36, 'Inlagd Sill', 17, 8, '24 - 250 g jars', 19, 8, 'Seafood', 'Seaweed and fish'),
 (37, 'Gravad lax', 17, 8, '12 - 500 g pkgs.', 26, 8, 'Seafood', 'Seaweed and fish'),
 (38, 'Côte de Blaye', 18, 1, '12 - 75 cl bottles', 263, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (39, 'Chartreuse verte', 18, 1, '750 cc per bottle', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (40, 'Boston Crab Meat', 19, 8, '24 - 4 oz tins', 43, 8, 'Seafood', 'Seaweed and fish'),
 (41, "Jack's New England Clam Chowder", 19, 8, '12 - 12 oz cans', 23, 8, 'Seafood', 'Seaweed and fish'),
 (42, 'Singaporean Hokkien Fried Mee', 20, 5, '32 - 1 kg pkgs.', 14, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (43, 'Ipoh Coffee', 20, 1, '16 - 500 g tins', 46, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (44, 'Gula Malacca', 20, 2, '20 - 2 kg bags', 19, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (45, 'Røgede sild', 21, 8, '1k pkg.', 43, 8, 'Seafood', 'Seaweed and fish'),
 (46, 'Spegesild', 21, 8, '4 - 450 g glasses', 12, 8, 'Seafood', 'Seaweed and fish'),
 (47, 'Zaanse koeken', 22, 3, '10 - 4 oz boxes', 43, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (48, 'Chocolade', 22, 3, '10 pkgs.', 27, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (49, 'Maxilaku', 23, 3, '24 - 50 g pkgs.', 20, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (50, 'Valkoinen suklaa', 23, 3, '12 - 100 g bars', 16, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (51, 'Manjimup Dried Apples', 24, 7, '50 - 300 g pkgs.', 53, 7, 'Produce', 'Dried fruit and bean curd'),
 (52, 'Filo Mix', 24, 5, '16 - 2 kg boxes', 7, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (53, 'Perth Pasties', 24, 6, '48 pieces', 32, 6, 'Meat/Poultry', 'Prepared meats'),
 (54, 'Tourtière', 25, 6, '16 pies', 16, 6, 'Meat/Poultry', 'Prepared meats'),
 (55, 'Pâté chinois', 25, 6, '24 boxes x 2 pies', 24, 6, 'Meat/Poultry', 'Prepared meats'),
 (56, 'Gnocchi di nonna Alice', 26, 5, '24 - 250 g pkgs.', 38, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (57, 'Ravioli Angelo', 26, 5, '24 - 250 g pkgs.', 43, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (58, 'Escargots de Bourgogne', 27, 8, '24 pieces', 13, 8, 'Seafood', 'Seaweed and fish'),
 (59, 'Raclette Courdavault', 28, 4, '5 kg pkg.', 55, 4, 'Dairy Products', 'Cheeses'),
 (60, 'Camembert Pierrot', 28, 4, '15 - 300 g rounds', 34, 4, 'Dairy Products', 'Cheeses'),
 (61, "Sirop d'érable", 29, 2, '24 - 500 ml bottles', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (62, 'Tarte au sucre', 29, 3, '48 pies', 49, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (63, 'Vegie-spread', 7, 2, '15 - 625 g jars', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (64, 'Wimmers gute Semmelknödel', 12, 5, '20 bags x 4 pieces', 33, 5, 'Grains/Cereals', 'Breads, crackers, pasta, and cereal'),
 (65, 'Louisiana Fiery Hot Pepper Sauce', 2, 2, '32 - 8 oz bottles', 43, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (66, 'Louisiana Hot Spiced Okra', 2, 2, '24 - 8 oz jars', 17, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings'),
 (67, 'Laughing Lumberjack Lager', 16, 1, '24 - 12 oz bottles', 14, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (68, 'Scottish Longbreads', 8, 3, '10 boxes x 8 pieces', 45, 3, 'Confections', 'Desserts, candies, and sweet breads'),
 (69, 'Gudbrandsdalsost', 15, 4, '10 kg pkg.', 36, 4, 'Dairy Products', 'Cheeses'),
 (70, 'Outback Lager', 7, 1, '24 - 355 ml bottles', 15, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (71, 'Fløtemysost', 15, 4, '10 - 500 g pkgs.', 21, 4, 'Dairy Products', 'Cheeses'),
 (72, 'Mozzarella di Giovanni', 14, 4, '24 - 200 g pkgs.', 34, 4, 'Dairy Products', 'Cheeses'),
 (73, 'Röd Kaviar', 17, 8, '24 - 150 g jars', 15, 8, 'Seafood', 'Seaweed and fish'),
 (74, 'Longlife Tofu', 4, 7, '5 kg pkg.', 10, 7, 'Produce', 'Dried fruit and bean curd'),
 (75, 'Rhönbräu Klosterbier', 12, 1, '24 - 0.5 l bottles', 27, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (76, 'Lakkalikööri', 23, 1, '500 ml', 18, 1, 'Beverages', 'Soft drinks, coffees, teas, beers, and ales'),
 (77, 'Original Frankfurter grüne Soße', 12, 2, '12 boxes', 13, 2, 'Condiments', 'Sweet and savory sauces, relishes, spreads, and seasonings')]

**12.Beverages ürün kategorisindeki ürünlerin fiyat ortalaması nedir?**

In [33]:
%%sql
SELECT AVG(Price) FROM Products LEFT JOIN Categories on Products.CategoryID = categories.CategoryID WHERE CategoryName = 'Beverages';

 * sqlite:///ik.db
Done.

[(42.75,)]

**13.USA'da yaşayan müşterilerin kazandırdığı toplan kazancı bulunuz.**

In [35]:
%%sql 
SELECT SUM(p.Price) 
FROM Orders o 
LEFT JOIN OrderDetails od on o.OrderID = od.OrderID 
LEFT JOIN Products p on od.ProductID = p.ProductID 
LEFT JOIN Customers c on o.CustomerID = c.CustomerID WHERE c.Country = 'USA';

 * sqlite:///ik.db
Done.

[(3762,)]

**14.Products tablosundaki CategoryID'lerin isimlerini bulunuz ve sonrasında kategori başına ortalama ürün fiyatını gösteriniz.**

In [36]:
%%sql
SELECT AVG(Price), CategoryName 
FROM Products 
LEFT JOIN Categories on Products.CategoryID = Categories.CategoryID 
GROUP BY CategoryName;

 * sqlite:///ik.db
Done.

[(42.75, 'Beverages'),
 (28.25, 'Condiments'),
 (33.76923076923077, 'Confections'),
 (74.9, 'Dairy Products'),
 (23.571428571428573, 'Grains/Cereals'),
 (55.166666666666664, 'Meat/Poultry'),
 (32.2, 'Produce'),
 (26.5, 'Seafood')]

**15.Çalışanları (EmployeeID) isimleri ile birlikte yaptıkları toplam satışlara göre sıralayınız.**

In [37]:
%%sql
SELECT em.FirstName, SUM(p.Price) toplam_satis 
FROM Orders o 
LEFT JOIN OrderDetails od on o.OrderID = od.OrderID 
LEFT JOIN Products p on od.ProductID = p.ProductID 
LEFT JOIN Employees em on o.EmployeeID = em.EmployeeID 
GROUP BY o.EmployeeID 
ORDER BY toplam_satis DESC;

 * sqlite:///ik.db
Done.

[('Margaret', 5515),
 ('Nancy', 4353),
 ('Janet', 3048),
 ('Michael', 2981),
 ('Laura', 2380),
 ('Robert', 1852),
 ('Andrew', 1550),
 ('Steven', 1408),
 ('Anne', 520)]

**16.Germany'dan verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?**

In [38]:
%%sql
SELECT ca.CategoryName, AVG(p.Price) 
FROM Orders o 
LEFT JOIN OrderDetails od on o.OrderID = od.OrderID 
LEFT JOIN Products p on od.ProductID = p.ProductID 
LEFT JOIN Categories ca on p.CategoryID = ca.CategoryID 
LEFT JOIN Customers cu on o.CustomerID = cu.CustomerID 
WHERE cu.Country = 'Germany' GROUP BY CategoryName;

 * sqlite:///ik.db
Done.

[('Beverages', 20.5),
 ('Condiments', 34.0),
 ('Confections', 40.0),
 ('Dairy Products', 151.64705882352942),
 ('Grains/Cereals', 22.142857142857142),
 ('Meat/Poultry', 30.2),
 ('Produce', 30.75),
 ('Seafood', 27.09090909090909)]

**17.Almanya ya da USA'den verilen siparişlerin kategorilerine göre ortalama fiyatları nelerdir?**

In [39]:
%%sql
SELECT ca.CategoryName, AVG(p.Price) 
FROM Orders o 
LEFT JOIN OrderDetails od on o.OrderID = od.OrderID 
LEFT JOIN Products p on od.ProductID = p.ProductID 
LEFT JOIN Categories ca on p.CategoryID = ca.CategoryID 
LEFT JOIN Customers cu on o.CustomerID = cu.CustomerID 
WHERE cu.Country = 'Germany' OR cu.Country = 'USA' GROUP BY CategoryName;

 * sqlite:///ik.db
Done.

[('Beverages', 29.88888888888889),
 ('Condiments', 34.72727272727273),
 ('Confections', 39.92307692307692),
 ('Dairy Products', 131.75862068965517),
 ('Grains/Cereals', 29.846153846153847),
 ('Meat/Poultry', 46.75),
 ('Produce', 28.625),
 ('Seafood', 25.6)]

**18. Haziran-Temmuz-Ağustos aylarında verilen siparişlerin ortalama fiyatı nedir?**

In [40]:
%%sql
SELECT AVG(Products.Price) 
FROM Products 
LEFT JOIN OrderDetails on OrderDetails.ProductID = products.ProductID 
LEFT JOIN Orders on OrderDetails.OrderID = Orders.OrderID 
WHERE OrderDate LIKE '%07%' or OrderDate LIKE '%08%' or OrderDate LIKE '%09%';

 * sqlite:///ik.db
Done.

[(39.71891891891892,)]

**19. Müşterilerin 1997 yılına ait siparişlerinin maksimum miktarlarını bulup müşterilerin isimleri ile birlikte büyükten küçüğe sıralayınız.**

In [41]:
%%sql
SELECT CustomerName, MAX(Price) maks 
FROM Products 
LEFT JOIN OrderDetails on Products.ProductID = OrderDetails.ProductID 
LEFT JOIN Orders on OrderDetails.OrderID = Orders.OrderID 
LEFT JOIN Customers on Customers.CustomerID = Orders.CustomerID 
WHERE OrderDate like '%1997%' 
GROUP BY CustomerName ORDER BY maks DESC;

 * sqlite:///ik.db
Done.

[('Gourmet Lanchonetes', 435),
 ('Simons bistro', 263),
 ('Mère Paillarde', 263),
 ('Save-a-lot Markets', 123),
 ('Eastern Connection', 123),
 ('Wellington Importadora', 97),
 ('Ernst Handel', 55),
 ('Bottom-Dollar Marketse', 55),
 ("La maison d'Asie", 49),
 ('Folies gourmandes', 49),
 ('Reggiani Caseifici', 45),
 ('Queen Cozinha', 45),
 ('Wartian Herkku', 43),
 ('Toms Spezialitäten', 43),
 ('Rattlesnake Canyon Grocery', 43),
 ('Que Delícia', 43),
 ('QUICK-Stop', 43),
 ('Old World Delicatessen', 43),
 ('Hungry Owl All-Night Grocers', 43),
 ('Hungry Coyote Import Store', 43),
 ('Familia Arquibaldo', 43),
 ('Princesa Isabel Vinhoss', 38),
 ('Galería del gastrónomo', 38),
 ('Blondel père et fils', 38),
 ('Richter Supermarkt', 36),
 ('Ottilies Käseladen', 36),
 ('Consolidated Holdings', 34),
 ('Split Rail Beer & Ale', 31),
 ('Magazzini Alimentari Riuniti', 31),
 ('Franchi S.p.A.', 31),
 ('Piccolo und mehr', 23),
 ('Océano Atlántico Ltda.', 23),
 ('Folk och fä HB', 21),
 ('LINO-Delicateses', 10)]

**20. Sipariş yılı 1997 olan siparişleri alan çalışanları sipariş alma sayılarına göre sıralayınız.**

In [42]:
%%sql
SELECT COUNT(*) n, em.FirstName 
FROM Orders 
LEFT JOIN Employees em on Orders.EmployeeID = em.EmployeeID 
WHERE OrderDate like '%1997%' 
GROUP BY em.FirstName 
ORDER by n DESC;

 * sqlite:///ik.db
Done.

[(13, 'Janet'),
 (9, 'Margaret'),
 (8, 'Laura'),
 (4, 'Andrew'),
 (3, 'Robert'),
 (3, 'Nancy'),
 (3, 'Michael'),
 (1, 'Anne')]